<%- include("./partials/header.ejs") %>
    <%- include("./partials/loader.ejs") %>

        <div class="container">
            <div class="jumbotron bg-dark text-white mt-5">
                <% kado.forEach(kadoo => { %>
                    <p class="btn btn-blurple " style="width: 100% ">
                        <%= kadoo.name %>
                    </p>
                    <% }) %>
            </div>
        </div>
        <script>
            $(".required").tooltip();
        </script>
        </body>

        </html>